*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    gap: 10px;
    flex-direction: row;
    height: 100vh;
}
.item {
     width: 200px;
     height: 200px;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     color: antiquewhite;
    

}
.item1 {
    background-color: red;
}
.item2 {
    background-color: blue;
}
.item3 {
    background-color: green;
}
.item4 {
    background-color: brown;
}